EstoqueMVC/EstoqueMVC/Service References/EstoqueServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EstoqueService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EstoqueWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEstoqueService_encontraTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:encontraTodos" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_encontraTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:encontraTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_encontra_InputMessage">
    <wsdl:part name="parameters" element="tns:encontra" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_encontra_OutputMessage">
    <wsdl:part name="parameters" element="tns:encontraResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_novo_InputMessage">
    <wsdl:part name="parameters" element="tns:novo" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_novo_OutputMessage">
    <wsdl:part name="parameters" element="tns:novoResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_atualiza_InputMessage">
    <wsdl:part name="parameters" element="tns:atualiza" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_atualiza_OutputMessage">
    <wsdl:part name="parameters" element="tns:atualizaResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_deletaID_InputMessage">
    <wsdl:part name="parameters" element="tns:deletaID" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_deletaID_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletaIDResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_deleta_InputMessage">
    <wsdl:part name="parameters" element="tns:deleta" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_deleta_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletaResponse" />
  </wsdl:message>
  <wsdl:portType name="IEstoqueService">
    <wsdl:operation name="encontraTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/encontraTodos" message="tns:IEstoqueService_encontraTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/encontraTodosResponse" message="tns:IEstoqueService_encontraTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="encontra">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/encontra" message="tns:IEstoqueService_encontra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/encontraResponse" message="tns:IEstoqueService_encontra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="novo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/novo" message="tns:IEstoqueService_novo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/novoResponse" message="tns:IEstoqueService_novo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="atualiza">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/atualiza" message="tns:IEstoqueService_atualiza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/atualizaResponse" message="tns:IEstoqueService_atualiza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletaID">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/deletaID" message="tns:IEstoqueService_deletaID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/deletaIDResponse" message="tns:IEstoqueService_deletaID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleta">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/deleta" message="tns:IEstoqueService_deleta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/deletaResponse" message="tns:IEstoqueService_deleta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEstoqueService" type="tns:IEstoqueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="encontraTodos">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/encontraTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encontra">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/encontra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="novo">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/novo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="atualiza">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/atualiza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletaID">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/deletaID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleta">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/deleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstoqueService">
    <wsdl:port name="BasicHttpBinding_IEstoqueService" binding="tns:BasicHttpBinding_IEstoqueService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/EstoqueWCF/EstoqueService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>