EstoqueMVC/EstoqueMVC/Service References/EstoqueServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EstoqueWCF" />
  <xs:element name="encontraTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="encontraTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="encontraTodosResult" nillable="true" type="q1:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="encontra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="encontraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="encontraResult" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="novo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="produto" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="novoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="novoResult" nillable="true" type="q4:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="atualiza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="produto" nillable="true" type="q5:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="atualizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="atualizaResult" nillable="true" type="q6:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="deletaIDResult" nillable="true" type="q7:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="produto" nillable="true" type="q8:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EstoqueWCF" minOccurs="0" name="deletaResult" nillable="true" type="q9:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>